// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div{
  margin: 20px 0;
}

.box{
  padding: 15px;
  background-color: #F1F1F1;
  border-color: #E7E7E7;
  border-style: solid;
  border-radius: 5px;
}
